@import "normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
    --primary: #fe2c55;
    --primary-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    --gray: rgba(22, 24, 35, 0.06);
    --dark-gray: rgba(22, 24, 35, 0.12);
    --text-color: #333;
    --subtext-color: rgba(22, 24, 35, 0.5);
    --gray-hover: rgba(22, 24, 35, 0.03);
    --gray-icon: rgba(22, 24, 35, 0.34);
    --gray-active: rgba(22, 24, 35, 0.06);

    --main: rgb(32, 213, 236);
    --white-color: #fff;

    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
