.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-layout-padding-x);
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
}

//actions
.actions {
    display: flex;
    align-items: center;

    .actions-btn {
        color: #161823;
        font-size: 2.4rem;
        padding: 0 12px;
        background: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;

        .badge {
            position: absolute;
            background-color: var(--primary);
            font-size: 1.2rem;
            top: -5px;
            padding: 2px 4px;
            right: 10px;
            color: var(--white-color);
            border-radius: 20px;
            font-family: var(--font-family);
        }
    }

    .user-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 12px;
        cursor: pointer;
    }
}

.more-btn {
    font-size: 2rem;
    padding: 4px 6px;
    margin-left: 20px;
    background: transparent;

    &:hover {
        cursor: pointer;
    }
}
