.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.search {
    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: var(--gray);
    border-radius: 92px;
    border: 1px solid var(--gray);
    width: 361px;
    height: 46px;
    overflow: hidden;
    position: relative;
    font-size: 1.8rem;

    input {
        padding: 12px 0;
        background: transparent;
        font-size: 1.6rem;
        flex: 1;
        caret-color: var(--primary);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--text-color);
    }

    button {
        background: transparent;
        cursor: pointer;
    }

    &:focus-within {
        border-color: var(--dark-gray);
    }
}

.clear,
.spinner {
    color: var(--gray-icon);
    font-size: 1.8rem;
    height: 16px;
    padding: 0 12px;
}

.search-btn {
    padding: 11px 12px;
    width: 52px;
    height: 100%;
    position: relative;
    color: var(--gray-icon);
    font-size: 1.8rem;

    &::before {
        content: "";
        width: 1px;
        height: 28px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        background-color: var(--dark-gray);
    }

    &:hover {
        background-color: var(--gray-hover);
    }

    &:active {
        background-color: var(--gray-active);
    }
}
