.search {
    display: flex;
    align-items: center;
    padding-left: 16px;
    background-color: var(--gray);
    border-radius: 92px;
    border: 1px solid var(--gray);
    width: 361px;
    height: 46px;
    overflow: hidden;
    position: relative;
    font-size: 1.8rem;

    input {
        padding: 12px 0;
        background: transparent;
        font-size: 1.6rem;
        flex: 1;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--text-color);
    }

    button {
        background: transparent;
        cursor: pointer;
    }

    &:focus-within {
        border-color: var(--dark-gray);
    }
}
.search-result {
    width: 361px;

    .search-title {
        font-size: 1.4rem;
        padding: 5px 12px;
        color: var(--subtext-color);
        font-weight: 600;
    }
}

.clear,
.spinner {
    color: var(--gray-icon);
    font-size: 1.8rem;
    height: 16px;
    padding: 0 12px;
}

.spinner {
    transform-origin: center;
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search-btn {
    padding: 11px 12px;
    width: 52px;
    height: 100%;
    position: relative;
    color: var(--gray-icon);
    font-size: 1.8rem;

    &::before {
        content: "";
        width: 1px;
        height: 28px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        background-color: var(--dark-gray);
    }

    &:hover {
        background-color: var(--gray-hover);
    }

    &:active {
        background-color: var(--gray-active);
    }
}
